:root {
    /** Config variaveis*/
    --background: #121214;
    --shape: #202024;
    --box-on-shape: #29292E;
    --text: #E1E1E6;
    --line: #7C7C8A;
    --purple-500: #292A94;
    --pink-800: #8F0656;
    --orange-500: #EC7815;
    --green-500: #299434;
}

/* Resetar css */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--background);
    color: var(--text);

    -webkit-font-smoothing: antialiased;
}