.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container::before {
    content: '';
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background: var(--table-header-bg);
}

.container.green::before {
    background: var(--green-500);
}

.container.pink::before {
    background: var(--pink-800);
}
.container.orange::before {
    background: var(--orange-500);
}